<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<form action="/register" method="POST">


<h1 style="text-align:left; ">Sign in</h1>
<br/>
<input type="text" placeholder="First Name" name="first_name"/>
<br/>
<input type="text" placeholder="Last Name" name="last_name" />
<br/>
<input type="email" placeholder="Email" name="email"/>
<br/>
<input type="password" placeholder="Password" name="password"/>
<br/>
<input type="password" placeholder="Password repeat" name="password_repeat"/>
<br/>
<input type="submit" placeholder="royal-submit"/>
</form>
</body>
</html>
